@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default Accent: INDIGO */
    --primary-50: #eef2ff;
    --primary-100: #e0e7ff;
    --primary-200: #c7d2fe;
    --primary-300: #a5b4fc;
    --primary-400: #818cf8;
    --primary-500: #6366f1;
    --primary-600: #4f46e5;
    --primary-700: #4338ca;
    --primary-800: #3730a3;
    --primary-900: #312e81;
    --primary-950: #1e1b4b;
  }

  body {
    @apply bg-slate-900 text-slate-200;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
