@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-200;
  }
}

/* Scrollbar Styling for that 'Terminal' feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
